* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(0, 40, 0, 0.75),
      rgba(0, 0, 0, 0.9)
    ),
    url("bg-casino.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}


.neon-bg {
  position: absolute;
  inset: 0;
  background:
    radial-gradient(circle at 20% 30%, rgba(255,0,150,0.25), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(0,255,255,0.25), transparent 45%);
  z-index: 1;
}

.casino {
  position: relative;
  z-index: 2;
  background: linear-gradient(180deg, #14001d, #000);
  border-radius: 24px;
  padding: 40px 34px;
  max-width: 460px;
  width: 94%;
  text-align: center;
  border: 1px solid rgba(255,215,0,.3);
  box-shadow: 0 35px 80px rgba(0,0,0,.95);
  overflow: visible;
}

.ribbon {
  background: linear-gradient(90deg, #ff005d, #ffcc00);
  color: #000;
  font-weight: bold;
  font-size: 12px;
  padding: 6px 16px;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 18px;
}

h1 {
  font-size: 34px;
  font-weight: 800;
  color: #00ff88;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

.tagline {
  font-size: 16px;
  color: #eafff3;
  margin-bottom: 24px;
}

.bonus {
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 22px;
  line-height: 1.2;
  text-align: center;
}


.bonus .big {
  font-size: 26px;
  font-weight: bold;
}

.bonus .small {
  font-size: 14px;
}

.features {
  margin-bottom: 24px;
}

.features div {
  font-size: 15px;
  margin: 10px 0;
  color: #ffffff;
}

.countdown {
  font-size: 14px;
  color: #ffcc00;
  margin-bottom: 18px;
}

#timer {
  font-weight: bold;
}

button {
  width: 100%;
  background: linear-gradient(90deg, #00ff88, #00cc66);
  color: #002010;
  border: none;
  padding: 22px;
  font-size: 19px;
  border-radius: 18px;
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 1px;
  box-shadow: 0 0 30px rgba(0,255,136,0.9);
  text-transform: uppercase;

}

button:hover {
  transform: scale(1.07);
}

.warning {
  font-size: 12px;
  color: #ff8080;
  margin-top: 16px;
}

.legal {
  font-size: 11px;
  color: #bbbbbb;
  margin-top: 6px;
}
button {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  position: relative;
  z-index: 10;
  margin-top: 20px;
}

