body {
  margin: 0;
  min-height: 100vh;
  background:
    linear-gradient(
      rgba(0, 40, 0, 0.75),
      rgba(0, 0, 0, 0.9)
    ),
    url("bg-casino.jpg") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

